@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
<<<<<<< HEAD
=======


>>>>>>> 5f4e8c24f2242a593a14c54a1a4e65ceed7ceee5
* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Quicksand";
    margin: 0;
<<<<<<< HEAD
=======

>>>>>>> 5f4e8c24f2242a593a14c54a1a4e65ceed7ceee5
}

<<<<<<< HEAD
.container {
    height: 99vh;
    width: 100vw;
}
=======
.form {
    /* border: 1px solid black; */
<<<<<<< HEAD
    padding: 20px;
    box-shadow: 0 0 3px 1px;
=======
>>>>>>> 2fa7c44fd60d6c5ec38c8ef5b903f86b36726c49

.title {
    text-align: center;

>>>>>>> 5f4e8c24f2242a593a14c54a1a4e65ceed7ceee5
}

.form .btn {
    margin-top: 20px;
}

.form .btn .btn_doctor {
    padding: 5px;
}

.form .btn .btn_patient {
    padding: 5px;
}

.input_fields {
    margin-top: 20px;
}

.input_fields input {
    width: 250px;
    height: 25px;
}

<<<<<<< HEAD
.container {
    display: flex;
    justify-content: space-between;
}

.right_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    
}


.form {
    display: flex;
    justify-content: center;
=======
.right .right_form {
<<<<<<< HEAD
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    align-items: center
}

.error {
    width: 100%;
    background-color: pink;
    color: red;
=======

    padding-left: 50px;
>>>>>>> 5f4e8c24f2242a593a14c54a1a4e65ceed7ceee5
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.success {
    height: 5%;
    width: 100%;
    background-color: lightgreen;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
>>>>>>> 2fa7c44fd60d6c5ec38c8ef5b903f86b36726c49
    flex-direction: column;
    align-items: center;
   
  

}

.error {

    width: 100%;
    background-color: pink;
    color: red;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;


}

.success {
    height: 5%;
    width: 100%;
    background-color: lightgreen;
    color: green;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
>>>>>>> 5f4e8c24f2242a593a14c54a1a4e65ceed7ceee5
    font-size: 15px;
}

.form_grid {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

>>>>>>> 5f4e8c24f2242a593a14c54a1a4e65ceed7ceee5
>>>>>>> 2fa7c44fd60d6c5ec38c8ef5b903f86b36726c49
    display: grid;
    grid-template-columns: 300px 300px;
}

.image_side {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;


}
.image_side_patient{
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}
.patient_img{
    width: 60%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

