@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Quicksand";
    margin: 0;

}

.container {
    height: 99vh;
    width: 100vw;
}

.title {
    text-align: center;

}

.form .btn {
    margin-top: 20px;
}

.form .btn .btn_doctor {
    padding: 5px;
}

.form .btn .btn_patient {
    padding: 5px;
}

.input_fields {
    margin-top: 20px;
}

.input_fields input {
    width: 250px;
    height: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.right_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    
}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  

}

.error {

    width: 100%;
    background-color: pink;
    color: red;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;


}

.success {
    height: 5%;
    width: 100%;
    background-color: lightgreen;
    color: green;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.form_grid {
    display: grid;
    grid-template-columns: 300px 300px;
}

.image_side {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;


}
.image_side_patient{
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}
.patient_img{
    width: 60%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

